---
import virtualModule from "virtual:astro-decap-cms";

const { cmsConfig, cmsScriptSrc } = virtualModule;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Content Manager</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/hithismani/responsive-decap@main/dist/responsive.min.css"
    />
  </head>

  <body data-cms-config={JSON.stringify(cmsConfig)}>
    <script is:inline>
      // @ts-ignore
      window.CMS_MANUAL_INIT = true;
    </script>

    <script src={cmsScriptSrc} type="module"></script>

    <script type="module">
      const config = JSON.parse(document.body.dataset.cmsConfig ?? "{}");
      // @ts-ignore
      window.initCMS({ config });
    </script>
  </body>
</html>
